ARTICLE_SERVER_HOST=article-server
ARTICLE_SERVER_PORT=8083
ARTICLE_DB_HOST=article-db
ARTICLE_DB_PORT=5432
ARTICLE_DB_USER=postgres
ARTICLE_DB_PASSWORD=postgres
ARTICLE_DB_NAME=postgres
BOOKMARK_SERVER_HOST=bookmark-server
BOOKMARK_SERVER_PORT=8084