BOOKMARK_SERVER_HOST=bookmark-server
BOOKMARK_SERVER_PORT=8084
BOOKMARK_DB_HOST=bookmark-db
BOOKMARK_DB_PORT=5432
BOOKMARK_DB_USER=postgres
BOOKMARK_DB_PASSWORD=postgres
BOOKMARK_DB_NAME=postgres
JWT_SECRET=secret
JWT_EXPIRES=1h