COMMENT_SERVER_HOST=comment-server
COMMENT_SERVER_PORT=8085
COMMENT_DB_HOST=comment-db
COMMENT_DB_PORT=5432
COMMENT_DB_USER=postgres
COMMENT_DB_PASSWORD=postgres
COMMENT_DB_NAME=postgres
ARTICLE_SERVER_HOST=article-server
ARTICLE_SERVER_PORT=8083
JWT_SECRET=secret
JWT_EXPIRES=1h
